.stmt-posts-detail {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.highlight {
    font-weight: bold;
    color: #089cc5;
}

.content {
    margin-top: 5px;
}

.reply-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.reply-info {
    margin-bottom: 5px;
}

.reply-highlight {
    font-weight: bold;
    color: #182104;
}

.reply-content {
    margin-top: 5px;
}

/* Form for asking questions*/
.reply-question-form {
    margin: 0 auto;
    padding: 1rem;
    max-width: 30rem;
    border-radius: 1rem;
}

.reply-question-form h3 {
    margin: 0 0 1rem 0;
}

.reply-question-form #r_content {
    width: calc(90%);
    max-height: calc(30%);
    resize: vertical;
    margin: 0 auto;
    margin-top: 1rem;
}

.reply-question-form #reply-question {
    max-width: calc(50%);
    margin-left: calc(50%);
}