:root {
    --theme-color: #345ea1;
    --theme-color-light: #4270b9;
    --theme-color-transparent: #345ea15f;
    --gray-light: rgb(222, 222, 222);
    --gray-normal: rgb(207, 207, 207);
    --gray-heavy: rgb(169, 169, 169);
    --gray-transparent: rgba(35, 35, 35, 0.087);
    --light-red: rgb(214, 89, 89);
}

* {
    font-family: "Poppins", sans-serif;
}

html,
body {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}

header {
    background: var(--theme-color);
    display: flex;
    padding: 1rem 1rem 0.9rem 1rem;
    /* padding-bottom: 0.9rem; */
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    -webkit-user-drag: none;
}


/* Login/Singin Top Logo*/
.login-signup-logo {
    display: block;
    /* margin: 0 auto; */
    width: 10rem;
    z-index: 100;
}

.logo-container {
    position: relative;
    top: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 5rem;

    padding-top: 0.313rem;

    background-color: var(--theme-color);
    border-radius: 100% / 100%;
    margin: auto;

}


/* Login/Signin Panel*/
.login-signup-panel {
    position: relative;
    top: 5.5rem;
    padding: 1.5rem;
    margin: 0 auto;
    max-width: 20rem;
    border-radius: 0.4rem;
}

.content-block {
    box-shadow: rgba(51, 68, 85, 0.416) 0px 8px 24px;
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

.content-block:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.login-signup-panel:active {
    transform: scale(0.999);
}

.login-signup-panel h1 {
    margin-top: 0;
    margin-bottom: 0.4rem;
}

/* Label-Text Input Pair*/
.label-and-text-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label-and-text-input input,
.label-and-text-input textarea {
    padding: 0.5rem;
    min-height: 1.8rem;
    max-width: 50rem;
    border-style: solid;
    border-radius: 0.2rem;
    border-color: var(--gray-heavy);
    border-width: 0.12rem;
}

.label-and-text-input input.error,
.label-and-text-input textarea.error {
    border-color: var(--light-red);
}

.label-and-text-input input:hover {
    background-color: rgb(232, 232, 232);
}

.label-and-text-input input:focus,
.label-and-text-input textarea:focus {
    outline: none;
    border-color: var(--theme-color);
}

/* Submit Button */
.btn {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.9rem;
    border-radius: 3rem;

    background: var(--theme-color);
    color: white;
    border: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn.secondary {
    margin-top: 0;
    color: black;
    background: var(--gray-normal);
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    background: var(--theme-color-light);
    box-shadow: var(--theme-color-transparent) 0px 8px 15px;
}

.btn:active {
    transform: scale(0.99);
}

.btn.secondary:hover {
    background: var(--gray-light);
    box-shadow: var(--gray-transparent) 0px 8px 15px;
}




/* Open-Animation Overlay*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
    animation: fillBackground 2s ease forwards;
}

.intro-text {
    font-size: 2rem;
    color: white;
    opacity: 0;
    cursor: pointer;
    animation: fadeInText 2s 0.5s forwards;
}

/* Open-Animation */
@keyframes fillBackground {
    0% {
        background: linear-gradient(to right, rgba(0, 0, 255, 0), rgba(255, 0, 0, 0));
    }

    100% {
        background: linear-gradient(to right, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7));
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hidden-at-start {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}